CONTAINER_NAME=secr-workshop
DOCKER_IMAGE=iandurbach/secr-workflow-rstudio:latest
IMAGE_TAG=local
QUARTO_VERSION=1.6.43
RSTUDIO_BIND_ADDRESS=127.0.0.1
RSTUDIO_PORT=8787
RSTUDIO_ADMIN_PASSWORD=change-me
RSTUDIO_ROOT=false
WORKSHOP_PASSWORD=change-me-too
WORKSHOP_USER_COUNT=0
WORKSHOP_USERS_PREFIX=participant
WORKSHOP_USERS=
WORKSHOP_CREATE_INSTRUCTOR=false
WORKSHOP_INSTRUCTOR_USER=instructor
TZ=UTC
