CONTAINER_NAME=secr-workshop
DOCKER_IMAGE=iandurbach/secr-workflow-rstudio:latest
IMAGE_TAG=local
QUARTO_VERSION=1.6.43
RSTUDIO_BIND_ADDRESS=127.0.0.1
RSTUDIO_PORT=8787
RSTUDIO_ROOT=false
WORKSHOP_PASSWORD=change-me
TZ=UTC
